.fullscreen {
  height: 85vh;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.progress {
  background-color: #e5eafc !important;
}

.carousel__inner-slide {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  left: 10px;
  top: 10px;
}

.focusRing___1airF.carousel__slide-focus-ring {
  outline: none !important;
}
