$theme-colors: (
  "primary": #fdbf4d,
  "secondary": #c3cdff,
  "auco": #3956f7,
  "teal": #3dd0ae,
  "pop-up": #edf1ff,
  "dark-colour-text": #0d4c8b
);

$body-bg: #f1f4ff;
$body-color: #1d2128;
body {
  background: linear-gradient(180deg, rgba(57, 86, 247, 1) 0%, rgba(241, 244, 255, 1) 35%);
}
