#box {
  display: inline-block;
  position: relative;
}

#square {
  margin-top: 100%;
  /* 1:1 aspect ratio */
}

#content {
  position: absolute;
  top: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.square-button {
  width: 100%;
}

@media (min-width: 576px) {
  .square-button {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .square-button {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .square-button {
    width: 30%;
  }
}
