.navigation.active {
  background-color: #3956f7;
}

.navbar-teacher {
  background-color: #3956f7;
}

.navbar-teacher a {
  color: white;
}

.nav-link.teacher {
  border-top: 5px solid #3956f7;
  border-bottom: 5px solid #3956f7;
}

.dropdown.teacher {
  border-top: 5px solid #3956f7;
  border-bottom: 5px solid #3956f7;
  color: white;
  padding: 0rem 1rem;
}

.nav-link.teacher.active {
  border-bottom: 5px solid #f89f1e;
}

.nav-link.teacher:hover {
  border-bottom: 5px solid #f89f1e;
  color: white;
}

.hidden {
  display: none;
}

#vertical-separation {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  width: 1px;
}

.badge-notifications {
  position: absolute;
  left: 1.5rem;
  z-index: 1000;
  padding: 0.1rem 0.2rem !important;
}
